*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 1700px;
    margin: 0 auto;
    font-family: Roboto, Helvetica, sans-serif;
}

.container{
    width: 60%;
    margin: auto;
}

/* UTILITY */
.dbg{
    height: 300px;
}

.dp_flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}

.flex_end{
    justify-content: flex-end;
}

.sp_around{
    justify-content: space-around;
}

.btn{
    border-radius: 5px;
}

.btn_holo{
    color: #408FFF;
    border: 1px solid #408FFF;
    padding: 0.5rem 1rem;
}


.title{
    font-size: 2.2rem;
    line-height: 4rem;
    padding-top: 3rem;
    text-align: center;
}

.description{
    text-align: center;
    font-size: 1.38rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 4rem;
    color: #707C98;
}

.mg_top-1{
    margin-top: 1rem;
}

.mg_top-4{
    margin-top: 4rem;
}

.mg_bot-3{
    margin-bottom: 3rem;
}

.pd_right-2{
    padding-right: 2rem;
}

.txt_center{
    text-align: center;
}

/* Color */
.txt_blue{
    color: #006AFF;
}

.txt_gray{
    color: #707C98;
}

.bg_gray{
    background-color: #F3F5F9;
}

.bg_linear{
    background: linear-gradient(180deg, #0047C5 0%, #001E9A 100%);
}
/* /Color */

/* /UTILITY */

/* NAV MENU */
.logo_nav{
    width: 10rem;
    padding: 0.8rem 0;
}


.link_menu > li{
    display: inline-block;
    list-style: none;
    padding-left: 1rem;
}

.link_menu > li > a{
    text-decoration: none;
    color: #082051;
    font-weight: 600;
    font-size: 1rem;
}

/* /NAV MENU */

/* JUMBO BANNER */

.jumbo{
    background-image: url("../img/bg-banner-home.jpg");
    background-position-x: 21%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

.jumbo_text{
    width: 95%;
    font-size: 1.8rem;
    color: white;
    line-height: 60px;
    margin-top: 85px;
    font-weight: 500;
}


.jumbo p{
    color: #B1C4FD;
    line-height: 2rem;
    margin-top: 18px;
    font-weight: 500;
    font-size: 1.3rem;
}

.form_container{
    background-color: white;
    border-radius: 5px;
    padding: 2rem 1rem;
    margin: 4rem 0;
    width: 85%;
    text-align: center;
}

.form_container h2{
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.form_container h3{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0.8rem;
}

input[type=email], input[type=password], input[type=submit], input[type=button]{
    width: 100%;
    margin: 0.3rem 0;
    border-radius: 0.3rem;
    font-weight: 700;
}

input[type=email], input[type=password]{
    border: 1px solid lightgrey;
    height: 2.8rem;
}

input[type=submit], input[type=button]{
    height: 2rem;
    font-size: 0.9rem;
}

input[type=submit]{
    display: block;
    background-color: #579AFF;
    color: white;
    border: none;
}

input[type=button]{
    background-image: url("../img/google-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 1rem top;
    background-color: white;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.2rem lightgrey;
}
/* /JUMBO BANNER */

/* PARTNERS */
.partners > div > img {
    width: 10rem;
    padding-right: 0.5rem;
}

.partners_txt{
    margin-top: 2rem;
    text-transform: uppercase;
}

.special_link{
    text-decoration: none;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

/* /PARTNERS */

/* DEPLOY */

.deploy_cards{
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.deploy_cards > div > div:first-child {
    border-left: 1px solid #707C98;
}

.deploy_cards li{
    list-style: none;
    margin: 1rem 0;
    font-weight: 500;
    padding-left: 0.5rem;
    font-size: 1.3rem;
}

.card{
    display: inline-block;
    margin-bottom: 1rem;
    padding-left: 2rem;
}
.card h3{
    margin: 0.6rem 0;
}

.card p{
    font-weight: 500;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

/* /DEPLOY */

/* DESIGNED */

.slide_img{
    width: 60%;
}

.slide_img img{
    width: 100%;
}

/* .fa-angle-left, .fa-angle-right{
    transform: scale(4);
} */

.arrow_left, .arrow_right{
    transform: scale(4);
}

.arrow_left{
    padding-left: 2.5rem;
    color: #6F7B97;
}

.arrow_right{
    padding-right: 2.5rem;
    color: #031C4E;
}

.fa-circle{
color: #006AFF;
margin-top: 0.8rem;
}

.designed_b_txt{
    text-align: center;
    padding: 1.5rem 0 4rem 0;
}

.designed_b_txt h4{
    font-size: 1.1rem;
    color: #0F2656;
}

.fa-circle{
    transform: scale(0.8);
}

/* /DESIGNED */

/* TEST SPEED */

.test_container{
    width: 95%;
    margin: auto;
}

.bg_linear{
    color: white;
}

.bb_white{
    border-bottom: 1px solid white ;
    margin: 0.5rem 0;
}

.bb_white div{
    text-align: center;
}

.p_left-2{
    padding-left: 2rem;
}

.lighter{
    font-weight: lighter;
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.test_container > div span:last-child{
    text-align: center;
}

.test_container > div:last-child{
    border: none;
}

/* /TEST SPEED */


@media screen and (min-width: 992px) {

    /* NAV MENU */
    nav .bars_icon{
        display: none;
    }
    /* /NAV MENU */

}
    

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    body{
        min-width: 991px;
    }

    /* NAV MENU */
    .container{
        width: 95%;
    }

    nav .col-lg-4 > ul{
        display: none;
    }

    nav .col-lg-6{
        display: none;
    }

    nav .bars_icon{
        color:  #408FFF;
        transform: scale(1.3);
        margin-left: 5rem;
    }
    /* /NAV MENU */

    /* JUMBO BANNER */
    .form_container{
        width: 90%;
    }

    .jumbo_text{  
        font-size: 1.3rem;
        line-height: 2.8rem;
    }

    .jumbo p{
        font-size: 1.5rem;
    }
    /* /JUMBO BANNER */

}


@media screen and (max-width: 767px) {

    body{
        min-width: 767px;
    }

    /* NAV MENU */
    .container{
        width: 95%;
    }

    /* .row{
        justify-content: flex-start;
    } */

    nav .col-lg-4 > ul{
        display: none;
    }

    nav .col-lg-6{
        display: none;
    }

    nav .bars_icon{
        color:  #408FFF;
        transform: scale(1.3);
        margin-left: 5rem;
    }
    /* /NAV MENU */

    /* JUMBO BANNER */

    .jumbo > .container > div:last-child{
        justify-content: center;
    }

    .jumbo > .container{
        flex-direction: column;
        align-items: center;
    }

    .form_container{
        width: 100%;
    }
    
    .jumbo p{
        font-size: 2.25rem;
        line-height: 3rem;
        font-weight: 400;
    }

    /* /JUMBO BANNER */

    /* PARTNERS */
    .partners{
        flex-flow: wrap;
    }

    .partners > div {
        text-align: center;
    }

    .partners > div > img {
        width: 80%;
    }

    h4{
        font-size: 1.5rem;
    }

    .stories a{
        font-size: 1.5rem;
    }
    /* /PARTNERS */

    /* DEPLOY */
    .deploy_cards > div > div:first-child {
        margin-bottom: 3rem;
    }

    .deploy_cards{
        width: 100%;
    }

    .card{
        padding-left: 0;
    }

    /* /DEPLOY */

    /* PARTNERS */
    .arrow_left, .arrow_right{
        display: none;
        }
    /* /PARTNERS */

}